# Godot 4+ specific ignores
.godot/
.DS_Store
/.build
/.index-build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
/dist/
/SwiftGodot-*.zip
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*~
build-docs.log
*rej
*orig
\#*
/libgodot.xcframework/
/.vscode
.swiftpm/xcode/xcshareddata/xcschemes
GeneratedForDebug/
Sources/SwiftGodot/_generated/*
!Sources/SwiftGodot/_generated/.gitkeep
Tests/SwiftGodotTestProject/test_results.json
/Testbed/bin/SwiftGodot
.worktrees/
/android/.gradle/
/android/build/
